body{
    background-color: #dfe2ed;;
}
a{
    display: block;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    color:  #344aa3;;
    text-decoration: none;
}
a:hover{
    color: blue;
}